.wrap {
  width: 375px;
  height: 667px;
  background-color: aquamarine;
  margin: 0 auto; }

@media (max-width: 620px) {
  .wrap {
    width: 100%;
    height: 100%;
    position: absolute; } }

@media (min-width: 621px) and (max-width: 1024px) {
  .wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: red; } }

.wrap__logo {
  width: 210px;
  height: 150px;
  float: left;
  margin-top: 30px;
  margin-left: 82.5px;
  background-color: gold; }

.wrap__playerName {
  width: 300px;
  height: 80px;
  float: left;
  margin-top: 20px;
  margin-left: 37.5px;
  background-color: firebrick; }

.wrap__scores {
  width: 300px;
  height: 120px;
  float: left;
  margin-top: 20px;
  margin-left: 37.5px;
  background-color: green; }

.wrap__start {
  width: 300px;
  height: 120px;
  float: left;
  margin-top: 20px;
  margin-left: 37.5px;
  background-color: green; }
