.wrap{
    width: 375px;
    height: 667px;
    background-color: aquamarine;
    margin: 0 auto;
    position: relative;
    cursor: none;
}

@media (max-width:620px){
    .wrap{
        width: 100%;
        height: 100%;
        position: absolute;
    }
}


@media (min-width:621px) and (max-width:1024px){
    .wrap{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: red;
    }
}
