.wrap{
    &__mapScore{
        width: 80px;
        height: 30px;
        float: left;
        background-color: blueviolet;
    }
    &__mapTime{
        width: 80px;
        height: 30px;
        float: right;
        background-color: darkcyan;
    }
}
.block{
    width: 100px;
    height: 10px;
    background-image: url("/img/wall.jpg");
    background-size: 100px 10px;
    position: absolute;
}
